.skills_images img{
    width: 150px;
    height: 150px;
    margin: 10px 0;
}
.skillsMain{
    margin-top:40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.skill_container{
    width: 900px;
    margin: 0 auto;
}
.skill_container hr{
    background-color:  rgb(28, 104, 245);
    height: 5px;
    width: 60px;
    margin: 0;
    border-radius: 4px;
}
.skills_head{
    margin-top: 30px;
}
@media screen and (max-width:992px){
    .skill_container{
        width: 700px;
        margin: 0 auto;
    }
}

@media screen and (max-width:768px){
    .skill_container{
        width: 500px;
        margin: 0 auto;
    }
    .skillsMain{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
.skill_container h1{
    text-align: center;
}

@media screen and (max-width:600px){
    .skill_container{
        width: 300px;
        margin: 0 auto;
    }
    .skillsMain{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}