.toolbar_headerMain{
    position: fixed;
    width: 100%;
    /* height: 56px; */
    top:0;
    background-color: rgb(170, 168, 168);
}
.toolbar_headerNav{
    display: flex;
    align-items: center;
    color: white;
    padding: 0 3rem;
}
.toolbar_split{
    flex: 1;
}
.toolbar_navItems ul{
    display: flex;
    list-style: none;
    align-items: center;
    padding: 0;
    font-size: 16px;
}
.toolbar_navItems li{
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 3px;
}
.toolbar_navItems li:hover{
    cursor: pointer;
    background-color: black;
}
@media screen and (max-width:768px){
    .toolbar_navItems ul{
        display: none;
    }
    .toolbar_headerMain{
        padding: 10px;
    }
    /* .toolbar_navLogo{
        margin-top: 20px;
    } */
    .toolbar_headerNav{
        display: flex;
        align-items: center;
        color: white;
        padding: 0;
    }
    .toolbar__toggle-button{
        cursor: pointer;
    }

}
@media screen and (min-width:769px){
    .toolbar__toggle-button{
        display: none;
    }
}