.content_aboutReact{
    margin: 0 auto;
    padding: 30px 10px;
    width: 800px;
}
.content_aboutReact p{
    margin-top: 5px;
    font-size: 16px;
}
@media screen and (max-width:782px){
    .content_aboutReact{
        margin: 0 auto;
        padding: 30px 10px;
        width: 500px;
    }
}
@media screen and (max-width:602px){
    .content_aboutReact{
        margin: 0 auto;
        padding: 30px 10px;
        width: 320px;
    }
}
.content_aboutReact hr{
    background-color:  rgb(28, 104, 245);
    height: 5px;
    width: 60px;
    margin: 0;
    border-radius: 4px;
}
.content_bannerScroll{
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: rgb(88, 127, 255);
    margin: 10px 20px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.content_update{
    padding: 20px 10px;
    text-align: center;
}