.side-drawer {
    height: 100%;
    background: rgb(56, 56, 56);
    color: white;
    box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 400px;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
  }
  
  .side-drawer.open {
    transform: translateX(0);
  }
  
  .side-drawer ul {
    /* height: 100%; */
    height: 60%;
    text-align: center;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  
  .side-drawer li {
    margin: 0.5rem 0;
    padding: 15px;
  }
  
  .side-drawer a {
    color: #521751;
    text-decoration: none;
    
  }
  
  .side-drawer a:hover,
  .side-drawer a:active {
    color: #fa923f;
  }
  
  @media (min-width: 769px) {
      .side-drawer {
          display: none;
      }
  }

.side_navCancel{
    padding: 20px;
    cursor: pointer;
}
.side_navList{
    font-size: 20px;
    cursor: pointer;
}
.side_navList:hover{
    display: inline;
    margin: 10px;
    background-color: black;
    border-radius: 5px;
}
  